.git
.github
.vs
.vscode
**/bin
**/obj
.env
**/.env
**/.env.*
!**/.env.example
**/.local
**/production.env
**/rclone.conf
**/secrets.json
**/client_secret_*.json
**/*.pfx
**/*.pem
**/*.key
TestResults
artifacts
compose*.yaml
deploy
Dockerfile*
LICENSE
README.md
tests
